#wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#trigger {
    margin-bottom: 30px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 2px solid var(--color-primary);
    max-width: 600px;
    width: 100%;
    aspect-ratio: 1 / 1;
}

#box {
    --row: 1;
    --column: 1;
    grid-row: var(--row);
    grid-column: var(--column);
    background-color: var(--color-secondary);
}

@keyframes flash {
    25%  {
        border: 3px solid var(--color-alert);
    }
    50%  {
        border: 3px solid transparent;
    }
    75%  {
        border: 3px solid var(--color-alert);
    }
}

#box.out {
    animation: flash 500ms;
}
